.card {
    padding-top: 30px;
}

.img-wrap {
    width: 120px;
    height: 120px;
    background-color: #0000004b;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, .2);
    border-radius: 5px;
}

.card p {
    margin: 6px 0;
    color: #333;
}

.card p:nth-of-type(1) {
    font-size: 18px;
    color: #555;
}

.card p:nth-of-type(2) {
    font-size: 32px;
    font-weight: 800;
    line-height: 1.1;
}

.card p:nth-of-type(3) {
    font-weight: 600;
}